// ******
// Colors
// ******
$blue: #3d8ea7;
$gray-blue: #374f54;
$light-gray: #f3f3f3;
$dark-gray: #646464;
$black: #303030;
$white: #fff;


// *****
// Fonts
// *****
@font-face {
  font-family: proxima;
  src: url("../fonts/proximanova.ttf");
}

@font-face {
  font-family: futura;
  src: url("../fonts/futurabold.otf");
}

// **************
// General styles
// **************
body {
  padding: 2em;
  margin: 0;
  font-family: 'Proxima', sans-serif;
}

.row {
  padding: 0;
  margin: 0;
}

h1 {
  color: $black;
}

h2, p {
  color: $dark-gray;
}

// Import page sections
@import 'map';
@import 'list';
@import 'state-lists';
@import 'form';
