.all-list.invisible {
  opacity: 0;
}

.list {
  z-index: 10;
  margin-top: 15px;
  .accordion--list {
    max-width: 550px;
    margin: 1.5em auto;
    .accordion__question {
      &:last-child {
        border-bottom: 1px solid $dark-gray;
      }
    }
    .accordion__header {
      border-top: 1px solid $dark-gray;
      display: inline-block;
      line-height: 2.3;
      padding: 0.5em 1em;
      width: 100%;
    }
    .accordion__content {
      display: none;
      padding: 1em;
      text-align: center;
      background-color: $light-gray;
      border: 1px solid $light-gray;
      border-radius: 2px;
      margin-bottom: 15px;
      h1 {
        font-size: 1.5em;
        text-align: left;
      }
      .active-agents {
        text-align: center;
        font-size: 18px;
      }
      button {
        color: $white;
        background-color: $blue;
        border: 1px solid $blue;
        border-radius: 3px;
        padding: 10px 15px;
        text-transform: uppercase;
      }
    }
  }
  h2 {
    font-size: 1.5em;
    span {
      float: right;
      color: $blue;
      font-weight: bold;
      font-family: 'futura', sans-serif;
    }
  }
  a, a:hover, a:visited {
    color: $blue;
    display: block;
    margin-bottom: 10px;
  }
  // Plus minus toggle styles
  .plus-minus-toggle {
    height: 18px;
    position: relative;
    width: 18px;
    float: right;
    display: block;
    margin-top: -22px;
    &:before,
    &:after{
      background: $blue;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: 0;
      width: 18px;
      transition: transform 500ms ease;
    }
    &:after {
      transform-origin: center;
    }
    &.collapsed {
      &:after {
        transform: rotate(90deg);
      }
      &:before {
        transform: rotate(180deg);
      }
    }
  }
  .add-new {
    color: $white;
    background-color: $blue;
    border: 1px solid $blue;
    border-radius: 3px;
    padding: 10px 15px;
    display: block;
    margin: 0 auto;
    span {
      font-family: 'futura', sans-serif;
      margin-left: 10px;
    }
  }
}

// Media queries
@media (max-width: 1200px) {
  .list {
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.1em;
    }
    .accordion--list {
      // max-width: 550px;
      margin: 1.5em auto;
      .accordion__content {
        h1 {
          font-size: 1.2em;
          text-align: left;
        }
        button {
          font-size: 1em;
          padding: 5px 10px;
        }
      }
    }
  }
}
