svg {
  width: 95%;
  float: right;
  // position: absolute;
  // top: 0;
  // right: 0;
  display: block;
  margin: 0 auto;
}

path {
  fill: #dedede !important;
  transition: 0.4s;
}

path.active {
  fill: #3d8ea7 !important;
  transition: 0.4s;
}

path.active:hover {
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #374f54 !important;
  cursor: pointer;
}

path.active.hovered {
  fill: #374f54 !important;
  transition: 0.4s;
}

// Media queries

// Hides mobile map for larger screens and desktop map for smaller screens
// @media (min-width: 768px) {
//   .mobile-map {
//     display: none;
//   }
// }
//
// @media (max-width: 767px) {
//   .map {
//     display: none;
//   }
// }
